<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rekomendacje telefonów</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Menu</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Strona główna</a></li>
                <li><a href="#section2">Odśwież RDF</a></li>
            </ul>
        </div>

        <div class="col-sm-9">
            <h4>
                Rekomendacja telefonów
            </h4>
            <hr>
            <form action="" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <select class="form-control" name="procesor">
                            <option value="" selected disabled="disabled">Wybierz procesor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="ram">
                            <option value="" selected disabled="disabled">Wybierz ilość pamięci</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="display">
                            <option value="" selected disabled="disabled">Wybierz rozmiar wyświetlacza</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="display_type">
                            <option value="" selected disabled="disabled">Wybierz rodzaj wyświetlacza</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <select class="form-control" name="battery">
                            <option value="" selected disabled="disabled">Wybierz rodzaj baterii</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <select class="form-control" name="camera">
                            <option value="" selected disabled="disabled">Wybierz aparat</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <button class="btn btn-primary">Sprawdź</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="container-fluid">
    <hr>
    <hr>
    <div class="col-sm-12">
        <p style="text-align: center;">Politechnika poznańska 2017</p>
    </div>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>